html,
body {
  height: 100%; /* Sayfa yüksekliğini %100 yaparak flexbox'un düzgün çalışmasını sağlarız */
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* İçeriği en üstten en alta yerleştirir */
  font-family: Arial, sans-serif;
  background: url("images/background.gif") no-repeat center center fixed;
  background-size: cover;
  color: white;
  text-align: center;
}

header {
  padding: 2rem 1rem;
  background: rgba(0, 0, 0, 0.5); /* Header için yarı şeffaf arka plan */
}

main {
  flex-grow: 1; /* Ana içerik alanının büyümesini sağlar */
  padding: 2rem;
}

footer {
  padding: 1rem;
  background: rgba(0, 0, 0, 0.5); /* Footer için yarı şeffaf arka plan */
}
